input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(190, 190, 185, 0.823);
    color: #333;
    font-size: 1rem;
    margin: 1%;
    width: 30%;
}

button {
    background-color: rgba(190, 190, 185, 0.823);
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    margin: 1%;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #e6e6e1;
}
